<h2>Jobs</h2>
<div nz-row>
    <div nz-col [nzSpan]="18" [nzPush]="6">
        <nz-card class="inner-box flex-item job-details" nzBordered="false">
            <ng-template [ngIf]="selectedJob" [ngIfElse]="noSelectedJob">
                <p class="title">{{selectedJob.title}}</p>
                <p class="company">{{selectedJob.companyName}}</p>
                <ul>
                    <li>
                        <span class="material-symbols-outlined">
                            location_on
                        </span>
                        <p>{{selectedJob.location}}</p>
                    </li>
                    <li>
                        <span class="material-symbols-outlined">
                            apartment
                        </span>
                        <p>{{employmentTypes[selectedJob.employmentType]}}</p>
                    </li>
                    <li>
                        <span class="material-symbols-outlined">
                            schedule
                        </span>
                        <p>{{setups[selectedJob.setup]}}</p>
                    </li>
                    <li>
                        <span class="material-symbols-outlined">
                            payments
                        </span>
                        <p>{{selectedJob.salary}}</p>
                    </li>
                    <p class="posted">Posted {{selectedJob.postedDateString}}</p>
                    <p class="description">{{selectedJob.jobDescription}}</p>
                    <div class="actions">
                        <button nzSize="large" nz-button nzType="primary">Apply</button>
                        <button nzSize="large" nz-button nzType="default">
                            <span class="material-symbols-outlined">
                                bookmark
                            </span>
                            <!-- Save -->
                        </button>
                    </div>
                </ul>
            </ng-template>
            <ng-template #noSelectedJob>
                <p>No job selected.</p>
            </ng-template>
        </nz-card>
    </div>
    <div class="job-list" nz-col [nzSpan]="6" [nzPull]="18">
        <div nz-flex nzVertical>
            <nz-card class="inner-box flex-item" [nzBordered]="true" *ngFor="let job of jobList()"
                (click)="onSelectJob(job.id)">
                <p class="title">{{job.title}}</p>
                <p>Company: {{job.companyName}}</p>
                <p>{{setups[job.setup]}}, {{employmentTypes[job.employmentType]}}</p>
            </nz-card>
        </div>
    </div>
</div>